@CHARSET "UTF-8";
body{padding:0;margin:0;}
*, *:before, *:after {box-sizing: border-box;font-size:12px;}
.thumbnail {overflow:hidden;}
img { max-width: 100%;}
table{border-collapse:collapse;}
ul {padding:0px;margin:0px;}
ul li{list-style-type:none;padding:0px;margin:0px;}


.siteModules {position:relative ! important;}
.Page-Edit-Mode .siteModules {position:relative !important;}
.portalTemplateBody {background-color:#fff;max-width:430px;overflow:hidden;margin:0 auto;}


#siteLogoViewModuleBox img{width:100%;border:0px;}
#siteLogoViewModuleBox a {overflow:hidden;}

#siteImageSpanModule{width:100%;overflow:hidden;}
#siteImageSpanModule .imglinks{float:left;}
#siteImageSpanModule .imglinks a{cursor:pointer; position:relative;display:block;overflow:hidden;}
#siteImageSpanModule .imglinks a img {}


#siteImageSpanModule #imageLink01{width:50%;float:left;}
#siteImageSpanModule #imageLink01 span{color: #fff;left: 15px; position: absolute; top: 74px; z-index: 100;background-color: #000;   
    display: block;
    left: 0;
    opacity: 0.6;   
    text-indent: 10px;
    top: 74px;
    width: 100%;}
#siteImageSpanModule #imageLink01 img{position:absolute;top:0px;left:0px;}

#siteImageSpanModule #imageLink02{width:25%;float:left;}
#siteImageSpanModule #imageLink02 span{color: #fff;left: 19px; position: absolute;top: 72px; z-index: 100;background-color: #000;   
    display: block;
    left: 0;
    opacity: 0.6;   
    text-indent: 10px;
    top: 74px;
    width: 100%;}
#siteImageSpanModule #imageLink02 img{left:0; position: absolute; top: 0;}


#siteImageSpanModule #imageLink03{width:25%;float:right;}
#siteImageSpanModule #imageLink03 span{color: #fff; left: 17px; position: absolute;top: 70px;z-index:100;background-color: #000;   
    display: block;
    left: 0;
    opacity: 0.6;   
    text-indent: 10px;
    top: 74px;
    width: 100%;}
#siteImageSpanModule #imageLink03 img{left: 0px;position: absolute;top: 0px;}


#siteImageSpanModule #imageLink04{width:25%;float:left;}
#siteImageSpanModule #imageLink04 span{left: 19px; position: absolute;top: 72px;color:#fff;z-index:100;background-color: #000;   
    display: block;
    left: 0;
    opacity: 0.6;   
    text-indent: 10px;
    top: 74px;
    width: 100%;}
#siteImageSpanModule #imageLink04 img{left: 0px;  position: absolute;top: 0px;}



#siteImageSpanModule #imageLink05{width:25%;float:left;}
#siteImageSpanModule #imageLink05 span{left: 19px; position: absolute;top: 72px;color:#fff;z-index:100;background-color: #000;   
    display: block;
    left: 0;
    opacity: 0.6;   
    text-indent: 10px;
    top: 74px;
    width: 100%;}
#siteImageSpanModule #imageLink05 img{position:absolute;top:0px;left:0px;}



#siteImageSpanModule #imageLink06{width:50%; float:right;}
#siteImageSpanModule #imageLink06 span{left: 19px; position: absolute;top: 72px;color:#fff;z-index:100;background-color: #000;   
    display: block;
    left: 0;
    opacity: 0.6;   
    text-indent: 10px;
    top: 74px;
    width: 100%;}
#siteImageSpanModule #imageLink06 img{position:absolute;top:0px;left:0px;}

#siteImageSpanModule #imageLink07{width:50%;float:left;}
#siteImageSpanModule #imageLink07 span{color: #fff;left: 15px; position: absolute; top: 74px; z-index: 100;background-color: #000;   
    display: block;
    left: 0;
    opacity: 0.6;   
    text-indent: 10px;
    top: 74px;
    width: 100%;}
#siteImageSpanModule #imageLink07 img{position:absolute;top:0px;left:0px;}

#siteImageSpanModule #imageLink08{width:25%;float:left;}
#siteImageSpanModule #imageLink08 span{color: #fff;left: 19px; position: absolute;top: 72px; z-index: 100;background-color: #000;   
    display: block;
    left: 0;
    opacity: 0.6;   
    text-indent: 10px;
    top: 74px;
    width: 100%;}
#siteImageSpanModule #imageLink08 img{left:0; position: absolute; top: 0;}


#siteImageSpanModule #imageLink09{width:25%;float:right;}
#siteImageSpanModule #imageLink09 span{color: #fff; left: 17px; position: absolute;top: 70px;z-index:100;background-color: #000;   
    display: block;
    left: 0;
    opacity: 0.6;   
    text-indent: 10px;
    top: 74px;
    width: 100%;}
#siteImageSpanModule #imageLink09 img{left: 0px;position: absolute;top: 0px;}

#siteImageSpanModule #imageLink01 a {height:90px;}
#siteImageSpanModule #imageLink02 a {height:90px;}
#siteImageSpanModule #imageLink03 a {height:90px;}
#siteImageSpanModule #imageLink04 a {height:90px;}
#siteImageSpanModule #imageLink05 a {height:90px;}
#siteImageSpanModule #imageLink06 a {height:90px;}
#siteImageSpanModule #imageLink07 a {height:90px;}
#siteImageSpanModule #imageLink08 a {height:90px;}
#siteImageSpanModule #imageLink09 a {height:90px;}
