<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
<title class="siteValue" id="title">欢迎来到杭州高新区（滨江）</title>
<link type="text/css" rel="stylesheet" href="/resources/portal/template/binjiang/css/templateforauth.css" media="screen" />
<script type="text/javascript" src="/statics/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/resources/portal/template/binjiang/js/templateforauth.js"></script>
<script type="text/javascript">$(document).ready(function(){MyTemplate.init();})</script>
</head>
<body>
<div class="portalTemplateBody">	
	<div class="siteModules" id="siteLogoViewModuleBox" title="Logo信息">
			<div id="Logo001" class="bs-docs-nav contentImage siteComponent">
				<a href="javascript:;" id="url" class="siteSource"><img src="/resources/portal/template/binjiang/img/mainpic.jpg" id="thumb" class="siteResource"></a>
			</div>
    </div>			 
	<div class="siteModules" id="siteImageSpanModule" title="图片链接">
		<div id="imageLink01" class="siteComponent imglinks">
			<a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/binjiang/img/bjfb.jpg" class="siteResource" /></a>
		</div>
		<div id="imageLink02" class="siteComponent imglinks">
			<a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/binjiang/img/tqyb.jpg" class="siteResource" /></a>
		</div>
		<div id="imageLink03" class="siteComponent imglinks">
			<a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/binjiang/img/zcbst.jpg" class="siteResource" /></a>
		</div>
		<div id="imageLink04" class="siteComponent imglinks">
			<a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/binjiang/img/wszw.jpg" class="siteResource" /></a>
		</div>
		<div id="imageLink05" class="siteComponent imglinks">
			<a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/binjiang/img/bjjt.jpg" class="siteResource" /></a>
		</div>
		<div id="imageLink06" class="siteComponent imglinks">
			<a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/binjiang/img/bjsh.jpg" class="siteResource" /></a>
		</div>
	</div> 
</div>
</body>
</html>
