<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no'>
<title class='siteValue' id='title'>chinanetfree</title>
<link type="text/css" rel="stylesheet" href="css/template.css" media="screen">
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript" src="../../auth_module/js/authorize.js"></script>
<script type="text/javascript" src="js/smallslider.js"></script>
<script type="text/javascript">$(document).ready(function(){MyTemplate.init();})</script>

<style type='text/css'>body {margin:0px;padding:0px;}</style>
</head>
<body>
    <div class="portalTemplateBody">     	      
        <div class="siteModules" id="siteLogoViewModuleBox" title="Logo信息">
			<div id="Logo001" class="ggtop bs-docs-nav contentImage siteComponent">
				<a href="javascript:;" id="url" class="siteSource"><img
					src="/resources/portal/template/jdhmd/img/logo.png" id="thumb"
					class="siteResource"></a>
				<div class="onlinenum">
				<span>在线人数：</span>
				<span id="lb_onlines">1</span>
				</div>	
			</div>
		</div>		
        <div class="siteModules" id="siteSliderModuleBox" title="广告轮播">
            <a href="javascript:;" class="sliderBrowse" id="sliderToPrev">&nbsp;</a>
            <a href="javascript:;" class="sliderBrowse" id="sliderToNext">&nbsp;</a>
            <div class="sliderNavigator"></div>
            <div class="sliderNavigator" id="sliderNaviList"></div>
            <div id="Slider001" class="sliderItem siteComponent"><a href="javascript:;" id="url" class="siteSource"><img id="thumb"  src="/resources/portal/template/jdhmd/img/pic_1.jpg" class="siteResource"></a></div>
            <div id="Slider002" class="sliderItem siteComponent"><a href="javascript:;" id="url" class="siteSource"><img id="thumb"  src="/resources/portal/template/jdhmd/img/pic_1.jpg" class="siteResource"></a></div>
            <div id="Slider003" class="sliderItem siteComponent"><a href="javascript:;" id="url" class="siteSource"><img id="thumb"  src="/resources/portal/template/jdhmd/img/pic_1.jpg" class="siteResource"></a></div>
        </div>
        <div id="movementWD1"></div>
        <div id="siteArticleViewModuleBox" class="siteModules" title="文本内容">
        	<div id="textSpan003" class="articleText siteComponent">
        	<span id="description" class="siteValue">杭州华美达酒店矗立在风景如画的钱塘江南岸，位于杭州市滨江高新技术开发区主干道江南大道南侧——天堂硅谷核心地段的杭州华美达酒店2007年12月开业，是由杭州英冠房地产开发有限公司投资兴建的高档时尚商务酒店，是一家严格按高星级标准配置的涉外酒店。
        	</span>
        	</div>
        </div>

        <div id="siteFooterGGModuleBox" class="siteModules" title="广告文本">
			<div id="fgSpan001"  class="tnavbar-default footertext siteComponent">
				<span id="title" class="siteValue ">
					 加盟热线: 4008-899-899
				</span>
			</div>
		</div>		 
		<div id="siteLoginModuleBox" class="siteModules  auth_html_code"
			platSvrAddr="" title="用户验证">
			<div id="ggSpan001" class="loginAPI-Form ggbottom ">
				
			</div>
		</div>
	</div>
</body>
</html>