<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.access.dao.merchant.AdvertMerchantConfigMapper" >
  <resultMap id="BaseResultMap" type="com.access.model.merchant.AdvertMerchantConfig" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="account_id" property="accountId" jdbcType="BIGINT" />
    <result column="status1" property="status1" jdbcType="VARCHAR" />
    <result column="status2" property="status2" jdbcType="VARCHAR" />
    <result column="status3" property="status3" jdbcType="VARCHAR" />
    <result column="createdate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="editdate" property="editdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.access.model.merchant.AdvertMerchantConfigWithBLOBs" extends="BaseResultMap" >
    <result column="jscode1" property="jscode1" jdbcType="LONGVARCHAR" />
    <result column="jscode2" property="jscode2" jdbcType="LONGVARCHAR" />
    <result column="jscode3" property="jscode3" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account_id, status1, status2, status3, createdate, editdate
  </sql>
  <sql id="Blob_Column_List" >
    jscode1, jscode2, jscode3
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from advert_merchant_config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from advert_merchant_config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.access.model.merchant.AdvertMerchantConfigWithBLOBs" >
    insert into advert_merchant_config (id, account_id, status1, 
      status2, status3, createdate, 
      editdate, jscode1, jscode2, 
      jscode3)
    values (#{id,jdbcType=BIGINT}, #{accountId,jdbcType=BIGINT}, #{status1,jdbcType=VARCHAR}, 
      #{status2,jdbcType=VARCHAR}, #{status3,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, 
      #{editdate,jdbcType=TIMESTAMP}, #{jscode1,jdbcType=LONGVARCHAR}, #{jscode2,jdbcType=LONGVARCHAR}, 
      #{jscode3,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.access.model.merchant.AdvertMerchantConfigWithBLOBs" >
    insert into advert_merchant_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="status1 != null" >
        status1,
      </if>
      <if test="status2 != null" >
        status2,
      </if>
      <if test="status3 != null" >
        status3,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
      <if test="editdate != null" >
        editdate,
      </if>
      <if test="jscode1 != null" >
        jscode1,
      </if>
      <if test="jscode2 != null" >
        jscode2,
      </if>
      <if test="jscode3 != null" >
        jscode3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=BIGINT},
      </if>
      <if test="status1 != null" >
        #{status1,jdbcType=VARCHAR},
      </if>
      <if test="status2 != null" >
        #{status2,jdbcType=VARCHAR},
      </if>
      <if test="status3 != null" >
        #{status3,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="editdate != null" >
        #{editdate,jdbcType=TIMESTAMP},
      </if>
      <if test="jscode1 != null" >
        #{jscode1,jdbcType=LONGVARCHAR},
      </if>
      <if test="jscode2 != null" >
        #{jscode2,jdbcType=LONGVARCHAR},
      </if>
      <if test="jscode3 != null" >
        #{jscode3,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.access.model.merchant.AdvertMerchantConfigWithBLOBs" >
    update advert_merchant_config
    <set >
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=BIGINT},
      </if>
      <if test="status1 != null" >
        status1 = #{status1,jdbcType=VARCHAR},
      </if>
      <if test="status2 != null" >
        status2 = #{status2,jdbcType=VARCHAR},
      </if>
      <if test="status3 != null" >
        status3 = #{status3,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="editdate != null" >
        editdate = #{editdate,jdbcType=TIMESTAMP},
      </if>
      <if test="jscode1 != null" >
        jscode1 = #{jscode1,jdbcType=LONGVARCHAR},
      </if>
      <if test="jscode2 != null" >
        jscode2 = #{jscode2,jdbcType=LONGVARCHAR},
      </if>
      <if test="jscode3 != null" >
        jscode3 = #{jscode3,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.access.model.merchant.AdvertMerchantConfigWithBLOBs" >
    update advert_merchant_config
    set account_id = #{accountId,jdbcType=BIGINT},
      status1 = #{status1,jdbcType=VARCHAR},
      status2 = #{status2,jdbcType=VARCHAR},
      status3 = #{status3,jdbcType=VARCHAR},
      createdate = #{createdate,jdbcType=TIMESTAMP},
      editdate = #{editdate,jdbcType=TIMESTAMP},
      jscode1 = #{jscode1,jdbcType=LONGVARCHAR},
      jscode2 = #{jscode2,jdbcType=LONGVARCHAR},
      jscode3 = #{jscode3,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.access.model.merchant.AdvertMerchantConfig" >
    update advert_merchant_config
    set account_id = #{accountId,jdbcType=BIGINT},
      status1 = #{status1,jdbcType=VARCHAR},
      status2 = #{status2,jdbcType=VARCHAR},
      status3 = #{status3,jdbcType=VARCHAR},
      createdate = #{createdate,jdbcType=TIMESTAMP},
      editdate = #{editdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 超级管理员根据deviceId取得商户 -->
  <select id="selectAccountByDeviceId" resultType="java.lang.String" parameterType="java.lang.String" >
    SELECT 
        l.account_id
    FROM
        location as l,
        device as d
    WHERE
        l.id=d.location_id
        and d.device_id=#{deviceId,jdbcType=VARCHAR}
  </select>

  <!-- 通过accountId查找脚本 -->
  <select id="selectByAccountId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from advert_merchant_config
    where account_id = #{accountId,jdbcType=BIGINT}
  </select>

  <!-- 添加商户广告js -->
  <insert id="insertAdvertJs" parameterType="com.access.model.merchant.AdvertMerchantConfigWithBLOBs" >
    insert into advert_merchant_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="status1 != null" >
        status1,
      </if>
      <if test="status2 != null" >
        status2,
      </if>
      <if test="status3 != null" >
        status3,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
      <if test="editdate != null" >
        editdate,
      </if>
      <if test="jscode1 != null" >
        jscode1,
      </if>
      <if test="jscode2 != null" >
        jscode2,
      </if>
      <if test="jscode3 != null" >
        jscode3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=BIGINT},
      </if>
      <if test="status1 != null" >
        #{status1,jdbcType=VARCHAR},
      </if>
      <if test="status2 != null" >
        #{status2,jdbcType=VARCHAR},
      </if>
      <if test="status3 != null" >
        #{status3,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="editdate != null" >
        editdate = #{editdate,jdbcType=TIMESTAMP},
      </if>
      <if test="jscode1 != null" >
        #{jscode1,jdbcType=LONGVARCHAR},
      </if>
      <if test="jscode2 != null" >
        #{jscode2,jdbcType=LONGVARCHAR},
      </if>
      <if test="jscode3 != null" >
        #{jscode3,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <!-- 更新广告脚本 -->
  <update id="updateAdvertJsByAccountId" parameterType="com.access.model.merchant.AdvertMerchantConfigWithBLOBs" >
    update advert_merchant_config
    <set >
      <if test="status1 != null" >
        status1 = #{status1,jdbcType=VARCHAR},
      </if>
      <if test="status2 != null" >
        status2 = #{status2,jdbcType=VARCHAR},
      </if>
      <if test="status3 != null" >
        status3 = #{status3,jdbcType=VARCHAR},
      </if>
      <if test="editdate != null" >
        editdate = #{editdate,jdbcType=TIMESTAMP},
      </if>
      <if test="jscode1 != null" >
        jscode1 = #{jscode1,jdbcType=LONGVARCHAR},
      </if>
      <if test="jscode2 != null" >
        jscode2 = #{jscode2,jdbcType=LONGVARCHAR},
      </if>
      <if test="jscode3 != null" >
        jscode3 = #{jscode3,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where account_id = #{accountId,jdbcType=BIGINT}
  </update>
</mapper>