<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
<title class="siteValue" id="title">乌镇</title>
<link type="text/css" rel="stylesheet" href="/resources/portal/auth_module/css/authorize.css" media="screen" />
<link type="text/css" rel="stylesheet" href="/resources/portal/template/wuzhen/css/template.css" media="screen" />
<script type="text/javascript" src="/statics/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/resources/portal/template/wuzhen/js/template.js"></script>
<script type="text/javascript" src="/resources/portal/auth_module/js/authorize.js"></script>
<script type="text/javascript" src="/resources/portal/template/wuzhen/js/smallslider.js"></script>
<script type="text/javascript">$(document).ready(function(){MyTemplate.init();})</script>
</head>
<body>
<div class="portalTemplateBody">
	<div class="siteModules" id="siteLogoViewModuleBox" title="Logo信息">
		<div id="Logo001" class="siteComponent">
			<a href="javascript:;" id="url" class="siteSource"><img src="/resources/portal/template/wuzhen/img/logo.png" id="thumb" class="siteResource" /></a>
		</div>
		<div class="onlinenum">
			<span>在线人数：</span>
			<span id="lb_onlines">0</span>
		</div>
	</div>
	<div class="siteModules" id="siteSliderModuleBox" title="广告轮播">
		<a href="javascript:;" class="sliderBrowse" id="sliderToPrev">&nbsp;</a>
		<a href="javascript:;" class="sliderBrowse" id="sliderToNext">&nbsp;</a>
		<div class="sliderNavigator"></div>
		<div class="sliderNavigator" id="sliderNaviList"></div>
		<div id="Slider001" class="sliderItem siteComponent"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/wuzhen/img/slider01.jpg" class="siteResource" /></a></div>
		<div id="Slider002" class="sliderItem siteComponent"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/wuzhen/img/slider02.jpg" class="siteResource" /></a></div>
		<div id="Slider003" class="sliderItem siteComponent"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/wuzhen/img/slider03.jpg" class="siteResource" /></a></div>
		<div id="Slider004" class="sliderItem siteComponent"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/wuzhen/img/slider04.jpg" class="siteResource" /></a></div>
	</div>
	<div id="siteColumnModuleBox1" class="siteModules contentTitleBox" title="栏目名称">
		<div id="column101" class="siteComponent contentTitle">
			<span id="title" class="siteValue">乌镇概况</span>
		</div>
	</div>
	<div class="siteModules" id="siteImageTextModuleBox" title="图文信息">
		<ul>				
			<li id="imagetext01" class="siteComponent">
				<div>
					<img id="thumb" alt="" src="/resources/portal/template/wuzhen/img/pic01.jpg" class="siteResource" />
					<span id="description" class="siteValue">国家AAAAA级景区，中国首批十大历史文化名镇和中国魅力名镇之一，列入联合国世界文化遗产保护预备清单，被誉为中国最后的枕水人家。</span>
				</div>
			</li>
		</ul>
	</div>
	<div id="siteColumnModuleBox2" class="siteModules contentTitleBox" title="栏目名称">
		<div id="column101" class="siteComponent contentTitle">
			<span id="title" class="siteValue">客户端下载</span>
		</div>
	</div>
	<div id="downClient">
		<ul class="clearfix">
			<li>
				<a href="javascript:;"><img src="/resources/portal/template/wuzhen/img/android.png" alt="" /></a>
			</li>
			<li>
				<a href="javascript:;"><img src="/resources/portal/template/wuzhen/img/ios.png" alt="" /></a>
			</li>
		</ul>
	</div>
	<div id="siteColumnModuleBox3" class="siteModules contentTitleBox" title="栏目名称">
		<div id="column101" class="siteComponent contentTitle2">
			<span id="title" class="siteValue">咨询热线：0573-88731088</span>
		</div>
	</div>

	<div class="siteModules" id="siteLoginModuleBox" role="auth" platsvraddr="" title="用户登陆">
		<div class="Portal-Auth-Body">
			<div class="Auth-Type-Body Auth-Single">
				<div class="Auth-Type-Icon"><a href="javascript:;" class="Auth-Type-MOBILE">&nbsp;</a></div>
				<div style="display:block;" class="Auth-Type-Item Auth-Type-MOBILE">
					<div class="Auth-Input-Row">
						<input type="text" placeholder="请输入手机号码" id="MobileNumber" name="MobileNumber">
					</div>
					<div class="Auth-Input-Captcha">
						<input type="text" placeholder="请输入验证码" id="SMSCodeNumber" name="SMSCodeNumber">
					</div>
					<div class="Auth-Input-Button">
						<button type="button" class="AuthMobileSMS">获取验证码</button>
					</div>
					<div class="Auth-Button-Row">
						<button type="button" class="AuthSubmitID ValidatorMobile">马上登陆</button>
						<div> </div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="siteModules" id="siteLoginModuleBox" role="auth" platsvraddr="" title="用户登陆">
		<div class="Portal-Auth-Body">
			<div class="Auth-Type-Free">
				<button type="button" class="AuthSubmitID ValidatorOption">点击免费上网</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>