<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
<title class="siteValue" id="title">乌镇</title>
<link type="text/css" rel="stylesheet" href="/resources/portal/template/wuzhen/css/template2.css" media="screen" />
<script type="text/javascript" src="/statics/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/resources/portal/template/wuzhen/js/template.js"></script>
<script type="text/javascript" src="/resources/portal/auth_module/js/authorize.js"></script>
<script type="text/javascript">$(document).ready(function(){MyTemplate.init();})</script>
</head>
<body>
<div class="portalTemplateBody">
	<div id="siteColumnModuleBox1" class="siteModules contentTitleBox" title="页面标题">
		<div id="column101" class="siteComponent contentTitle">
			<span id="title" class="siteValue">智慧乌镇免费无线认证登录系统</span>
		</div>
	</div>
	<div id="loginStatus">
		<span>登录成功，现在您可以免费畅游互联网了！</span>
	</div>
	<div id="downClient">
		<ul class="clearfix">
			<li>
				<a href="http://www.smartzg.cn/iwifi/iwifi.apk" class="android">安卓客户端</a>
			</li>
			<li>
				<a href="http://www.smartzg.cn/iwifi/iwifi.app" class="ios">IOS客户端</a>
			</li>
		</ul>
	</div>
</div>
</body>
</html>