<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title class='siteValue' id='title'>Template #2</title>
<link type="text/css" rel="stylesheet" href="css/template.css" media="screen">
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript">$(document).ready(function(){MyTemplate.init();$(window).resize(function(){MyTemplate.init();})})</script>
</head>
<body>
    <div class="portalTemplateBody">
        <div class="siteModule" id="siteHeaderModuleBox">
            <a href="javascript:;" class="siteNavi" id="componentid"><span class="textFirst siteValue" id="title">我的站点</span></a>
            <a href="javascript:;" class="siteNavi" id="componentid"><span class="iconNext">&nbsp;</span><span class="textNext siteValue" id="title">产品列表</span></a><span class="naviEnd">&nbsp;</span>
            <a href="javascript:;" class="siteMenu">&nbsp;</a>
            <div class=userActiveMenu>
                <a href="javascript:;" class="MenuIcon">&nbsp;</a>
                <div class="userActive">
                    <a href="">个人信息</a>
                    <a href="">修改密码</a>
                    <a href="">退出</a>
                </div>
            </div>
        </div>
        
        
        <div class="siteModule" id="siteImageSpanModule"  title="产品列表">
            <ul>
                <li id="ImageSpan001" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/3/img/demo/018.jpg" class="siteResource"></a></div>
                    <div class="imageSpanTitle">&nbsp;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;" id="url" class="siteSource"><span id="title" class="siteValue">抗美援朝志愿军用步枪击落飞机</span></a></div>
                </li>
                <li id="ImageSpan002" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/3/img/demo/018.jpg" class="siteResource"></a></div>
                    <div class="imageSpanTitle">&nbsp;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;" id="url" class="siteSource"><span id="title" class="siteValue">抗美援朝志愿军用步枪击落飞机</span></a></div>
                </li>
                <li id="ImageSpan003" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/3/img/demo/018.jpg" class="siteResource"></a></div>
                    <div class="imageSpanTitle">&nbsp;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;" id="url" class="siteSource"><span id="title" class="siteValue">抗美援朝志愿军用步枪击落飞机</span></a></div>
                </li>
                <li id="ImageSpan004" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/3/img/demo/018.jpg" class="siteResource"></a></div>
                    <div class="imageSpanTitle">&nbsp;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;" id="url" class="siteSource"><span id="title" class="siteValue">抗美援朝志愿军用步枪击落飞机</span></a></div>
                </li>
                <li id="ImageSpan005" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/3/img/demo/018.jpg" class="siteResource"></a></div>
                    <div class="imageSpanTitle">&nbsp;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;" id="url" class="siteSource"><span id="title" class="siteValue">抗美援朝志愿军用步枪击落飞机</span></a></div>
                </li>
                <li id="ImageSpan006" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/3/img/demo/018.jpg" class="siteResource"></a></div>
                    <div class="imageSpanTitle">&nbsp;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;" id="url" class="siteSource"><span id="title" class="siteValue">抗美援朝志愿军用步枪击落飞机</span></a></div>
                </li>
                <li id="ImageSpan007" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/3/img/demo/018.jpg" class="siteResource"></a></div>
                    <div class="imageSpanTitle">&nbsp;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;" id="url" class="siteSource"><span id="title" class="siteValue">抗美援朝志愿军用步枪击落飞机</span></a></div>
                </li>
                <li id="ImageSpan008" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/3/img/demo/018.jpg" class="siteResource"></a></div>
                    <div class="imageSpanTitle">&nbsp;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;" id="url" class="siteSource"><span id="title" class="siteValue">抗美援朝志愿军用步枪击落飞机</span></a></div>
                </li>
            </ul>
        </div>
        
        <div class="siteModule" id="siteProductListModuleBox" title="产品列表">
            <ul>
                <li id="Product001"  class="siteComponent">
                    <div>
                       <a href="javascript:;" id="url" class="siteSource"><img alt="" src="/resources/portal/template/3/img/demo/010.jpg" id="thumb" class="siteResource"></a>
                       <a href="javascript:;" id="url" class="siteSource"><dd id="title" class="siteValue">抗美援朝志愿军用步枪击落飞机</dd></a></dd>
                       <span id="description" class="siteValue">详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
                <li id="Product002"  class="siteComponent">
                    <div>
                       <a href="javascript:;" id="url" class="siteSource"><img alt="" src="/resources/portal/template/3/img/demo/013.jpg" id="thumb" class="siteResource"></a>
                       <a href="javascript:;" id="url" class="siteSource"><dd id="title" class="siteValue">抗美援朝志愿军用步枪击落飞机</dd></a></dd>
                       <span id="description" class="siteValue">详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
                <li id="Product003"  class="siteComponent">
                    <div>
                       <a href="javascript:;" id="url" class="siteSource"><img alt="" src="/resources/portal/template/3/img/demo/009.jpg" id="thumb" class="siteResource"></a>
                       <a href="javascript:;" id="url" class="siteSource"><dd id="title" class="siteValue">抗美援朝志愿军用步枪击落飞机</dd></a></dd>
                       <span id="description" class="siteValue">详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
                <li id="Product004"  class="siteComponent">
                    <div>
                       <a href="javascript:;" id="url" class="siteSource"><img alt="" src="/resources/portal/template/3/img/demo/002.jpg" id="thumb" class="siteResource"></a>
                       <a href="javascript:;" id="url" class="siteSource"><dd id="title" class="siteValue">抗美援朝志愿军用步枪击落飞机</dd></a></dd>
                       <span id="description" class="siteValue">详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
                <li id="Product005"  class="siteComponent">
                    <div>
                       <a href="javascript:;" id="url" class="siteSource"><img alt="" src="/resources/portal/template/3/img/demo/011.jpg" id="thumb" class="siteResource"></a>
                       <a href="javascript:;" id="url" class="siteSource"><dd id="title" class="siteValue">抗美援朝志愿军用步枪击落飞机</dd></a></dd>
                       <span id="description" class="siteValue">详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
                <li id="Product006"  class="siteComponent">
                    <div>
                       <a href="javascript:;" id="url" class="siteSource"><img alt="" src="/resources/portal/template/3/img/demo/020.jpg" id="thumb" class="siteResource"></a>
                       <a href="javascript:;" id="url" class="siteSource"><dd id="title" class="siteValue">抗美援朝志愿军用步枪击落飞机</dd></a></dd>
                       <span id="description" class="siteValue">详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
                <li id="Product007"  class="siteComponent">
                    <div>
                       <a href="javascript:;" id="url" class="siteSource"><img alt="" src="/resources/portal/template/3/img/demo/008.jpg" id="thumb" class="siteResource"></a>
                       <a href="javascript:;" id="url" class="siteSource"><dd id="title" class="siteValue">抗美援朝志愿军用步枪击落飞机</dd></a></dd>
                       <span id="description" class="siteValue">详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
                <li id="Product008"  class="siteComponent">
                    <div>
                       <a href="javascript:;" id="url" class="siteSource"><img alt="" src="/resources/portal/template/3/img/demo/012.jpg" id="thumb" class="siteResource"></a>
                       <a href="javascript:;" id="url" class="siteSource"><dd id="title" class="siteValue">抗美援朝志愿军用步枪击落飞机</dd></a></dd>
                       <span id="description" class="siteValue">详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
            </ul>
        </div>
        
    </div>
</body>
</html>