<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Template #2</title>
<link type="text/css" rel="stylesheet" href="css/template.css" media="screen">
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript">$(document).ready(function(){MyTemplate.init();$(window).resize(function(){MyTemplate.init();})})</script>
</head>
<body>
    <div class="portalTemplateBody">
        <div class="siteModules" id="siteHeaderModuleBox">
            <a href="javascript:;" class="siteNavi"><span class="textFirst">一鸣奶吧</span></a>
            <a href="javascript:;" class="siteNavi"><span class="iconNext">&nbsp;</span><span class="textNext">详细内容</span></a><span class="naviEnd">&nbsp;</span>
            <a href="javascript:;" class="siteMenu">&nbsp;</a>
            <div class=userActiveMenu>
                <a href="javascript:;" class="MenuIcon">&nbsp;</a>
	            <div class="userActive">
	                <a href="">个人信息</a>
	                <a href="">修改密码</a>
	                <a href="">退出</a>
	            </div>
            </div>
        </div>
        
        <div class="siteModules" id="siteArticleViewModuleBox" title="文本内容">
            <div class="articleTitle">计划2016年上市 标致2008 RX合成图曝光</div>
            <div class="articleTime">2014-05-06 23:22:09</div>
            <div class="articleLine"></div>
            <div class="articleText">据台湾“中央社”5月18日报道，越南民众当天发起5·18反大陆游行活动，大陆官方提醒在越南的企业，必要时暂停生产，同时把人员撤离至安全地区。
大陆驻越南大使馆经济商务参赞处17日提示，各个驻越的中资机构根据对单位周边安全形势严峻程度的评估，视情况决定是否需要暂停生产、施工，必要时考虑及时将大陆人员转移至安全地区。
新加坡《联合早报》网站5月18日报道称，在越南或举行全国反华大游行前夕，中国国务委员、公安部部长郭声琨17日与越南公安部部长陈大光通话，要求越南立即采取有力措施，坚决制止一切暴力活动，严惩打砸抢不法分子。
郭声琨指出，越南对不法分子暴力袭击中国企业和人员负有不可推卸的责任，并要求越南切实承担起保护在越中国公民安全和利益的职责。</div>
        </div>
    </div>
</body>
</html>