<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
<title class="siteValue" id="title">欢迎来到杭州高新区（滨江）</title>
<link type="text/css" rel="stylesheet" href="/resources/portal/template/anjijntd/css/templateforlogin.css" media="screen" />
<script type="text/javascript" src="/statics/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/resources/portal/template/anjijntd/js/templateforlogin.js"></script>
<script type="text/javascript">$(document).ready(function(){MyTemplate.init();})</script>
</head>
<body>
<div class="portalTemplateBody">	
	<div class="siteModules" id="siteLogoViewModuleBox" title="Logo信息">
			<div id="Logo001" class="bs-docs-nav contentImage siteComponent">
				<a href="javascript:;" id="url" class="siteSource"><img src="/resources/portal/template/anjijntd/img/mainpic.jpg" id="thumb" class="siteResource"></a>
			</div>
    </div>			 
	<div class="siteModules" id="siteImageSpanModule" title="图片链接">
	  <ul>
	    <li>
	       <div id="imageLink01" class="siteComponent imglinks">
			<a href="javascript:;" id="url" class="siteSource">
			<span id="title" class="siteValue">滨江发布</span>
			<img id="thumb" src="/resources/portal/template/anjijntd/img/6.jpg" class="siteResource" />			
			</a>
		</div>
		<div id="imageLink02" class="siteComponent imglinks">
			<a href="javascript:;" id="url" class="siteSource">
			<span id="title" class="siteValue">天气预报</span>
			<img id="thumb" src="/resources/portal/template/anjijntd/img/4.jpg" class="siteResource" />			
			</a>
		</div>
		<div id="imageLink03" class="siteComponent imglinks">
			<a href="javascript:;" id="url" class="siteSource">
			<span id="title" class="siteValue">政策百事通</span>
			<img id="thumb" src="/resources/portal/template/anjijntd/img/5.jpg" class="siteResource" />			
			</a>
		</div> 
	    </li>
	    <li>
	       <div id="imageLink04" class="siteComponent imglinks">
			<a href="javascript:;" id="url" class="siteSource">
			<span id="title" class="siteValue">网上政务</span>
			<img id="thumb" src="/resources/portal/template/anjijntd/img/4.jpg" class="siteResource" />
			
			</a>
		</div>
		<div id="imageLink05" class="siteComponent imglinks">
			<a href="javascript:;" id="url" class="siteSource">
			<span id="title" class="siteValue">滨江交通</span>
			<img id="thumb" src="/resources/portal/template/anjijntd/img/5.jpg" class="siteResource" />
			
			</a>
		</div>
		<div id="imageLink06" class="siteComponent imglinks">
			<a href="javascript:;" id="url" class="siteSource">
			<span id="title" class="siteValue">滨江生活</span>
			<img id="thumb" src="/resources/portal/template/anjijntd/img/6.jpg" class="siteResource" />			
			</a>
		</div>
	    </li>
	    <li>
	    <div id="imageLink07" class="siteComponent imglinks">
			<a href="javascript:;" id="url" class="siteSource">
			<span id="title" class="siteValue">滨江发布</span>
			<img id="thumb" src="/resources/portal/template/anjijntd/img/6.jpg" class="siteResource" />			
			</a>
		</div>
		<div id="imageLink08" class="siteComponent imglinks">
			<a href="javascript:;" id="url" class="siteSource">
			<span id="title" class="siteValue">天气预报</span>
			<img id="thumb" src="/resources/portal/template/anjijntd/img/4.jpg" class="siteResource" />			
			</a>
		</div>
		<div id="imageLink09" class="siteComponent imglinks">
			<a href="javascript:;" id="url" class="siteSource">
			<span id="title" class="siteValue">政策百事通</span>
			<img id="thumb" src="/resources/portal/template/anjijntd/img/5.jpg" class="siteResource" />			
			</a>
		</div> 
	    
	    </li>
	  </ul>
		
		
	</div> 
</div>
</body>
</html>
