<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
<title class="siteValue" id="title">乌镇欢迎您</title>
<link type="text/css" rel="stylesheet" href="/resources/portal/template/2014wuzhen/css/template.css" media="screen" />
<script type="text/javascript" src="/statics/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/resources/portal/template/2014wuzhen/js/template_login.js"></script>
<script type="text/javascript">$(document).ready(function(){MyTemplate.init();})</script>
</head>
<body>
<div class="portalTemplateBody">
	<div class="siteModules" id="siteTopImage" title="顶部图片">
		<div id="topPic" class="siteComponent"><img id="thumb" src="/resources/portal/template/2014wuzhen/img/topimage.jpg" class="siteResource" /></div>
	</div>
	<div class="siteModules" id="siteImageLinks" title="图片链接">
		<div id="imageLink01" class="siteComponent">
			<a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/2014wuzhen/img/icon01.jpg" class="siteResource" /></a>
		</div>
		<div id="imageLink02" class="siteComponent">
			<a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/2014wuzhen/img/icon02.jpg" class="siteResource" /></a>
		</div>
		<div id="imageLink03" class="siteComponent">
			<a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/2014wuzhen/img/icon03.jpg" class="siteResource" /></a>
		</div>
		<div id="imageLink04" class="siteComponent">
			<a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/2014wuzhen/img/icon04.jpg" class="siteResource" /></a>
		</div>
		<div id="imageLink05" class="siteComponent">
			<a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/2014wuzhen/img/icon05.jpg" class="siteResource" /></a>
		</div>
		<div id="imageLink06" class="siteComponent">
			<a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/2014wuzhen/img/icon06.jpg" class="siteResource" /></a>
		</div>
	</div>
</div>
</body>
</html>
