@charset "UTF-8";
/**
 *
 *
 *
 *
 *
 *
**/

.ChinaNet-Free-Body {}
.ChinaNet-Free-Body .Index-Top-Statis {height: 258px;overflow: hidden;}
.ChinaNet-Free-Body .Index-Top-Statis ul {margin:0px;padding:0px;overflow:hidden;height:258px;list-style-type:none;}
.ChinaNet-Free-Body .Index-Top-Statis ul li {width:585px;float:left;height:248px;}
.ChinaNet-Free-Body .Index-Top-Statis ul li.First-Item {margin-right: 30px;}
.ChinaNet-Free-Body .Index-Top-Statis ul li .Index-Statis-Chart-Item {height: 200px;overflow: hidden;background-color: #fafafa;position:relative;margin-top: 10px;}
.ChinaNet-Free-Body .Index-Top-Statis ul li .Index-Statis-Chart-Item .Chart-Item-Figure {margin:0px;height: 200px;width: 200px;overflow: hidden;float: left;}
.ChinaNet-Free-Body .Index-Top-Statis ul li .Index-Statis-Chart-Item .Statis-Data-District {padding:10px 10px 10px 0;overflow:hidden;position:absolute;left:200px;top:0px;z-index:20;display:block;width:385px;}
.ChinaNet-Free-Body .Index-Top-Statis ul li .Index-Statis-Chart-Item .Statis-Data-District ul.Statis-Data-Row {height:180px;list-style-type:none;overflow:hidden;}
.ChinaNet-Free-Body .Index-Top-Statis ul li .Index-Statis-Chart-Item .Statis-Data-District ul.Statis-Data-Row li {width:100%;float:left;height:90px;overflow:hidden;padding: 12px 0}
.ChinaNet-Free-Body .Index-Top-Statis ul li .Index-Statis-Chart-Item .Statis-Data-District ul.Statis-Data-Row li.Special-Item {background-color: white;}
.ChinaNet-Free-Body .Index-Top-Statis ul li .Index-Statis-Chart-Item .Statis-Data-District ul.Statis-Data-Row li.Special-Item-Href {background-color: white;width: 50%;}
.ChinaNet-Free-Body .Index-Top-Statis ul li .Index-Statis-Chart-Item .Statis-Data-District ul.Statis-Data-Row li .Data-Row-Item {padding-left:24px;text-align:left;overflow:hidden;}
.ChinaNet-Free-Body .Index-Top-Statis ul li .Index-Statis-Chart-Item .Statis-Data-District ul.Statis-Data-Row li .Data-Row-Item.First-Item {border-right: 1px solid #efefef;}
.ChinaNet-Free-Body .Index-Top-Statis ul li .Index-Statis-Chart-Item .Statis-Data-District ul.Statis-Data-Row li .Index-Data-Name {color:#a6a6a6;font:16px/24px "Microsoft YaHei","ARIAL","宋体";display:block;float: left;height: 66px;line-height: 66px;}
.ChinaNet-Free-Body .Index-Top-Statis ul li .Index-Statis-Chart-Item .Statis-Data-District ul.Statis-Data-Row li .Index-Data-Name14 {color:#a6a6a6;font:14px/18px "Microsoft YaHei","ARIAL","宋体";display:block;}
.ChinaNet-Free-Body .Index-Top-Statis ul li .Index-Statis-Chart-Item .Statis-Data-District ul.Statis-Data-Row li .Index-Data-Number {color:#a6a6a6;font:bold 36px/48px "Microsoft YaHei","ARIAL","宋体";display:block;float: left;height: 66px;line-height: 66px;}
.ChinaNet-Free-Body .Index-Top-Statis ul li .Index-Statis-Chart-Item .Statis-Data-District ul.Statis-Data-Row li .Index-Data-NumberB {color:#a6a6a6;font:bold 36px/48px "Microsoft YaHei","ARIAL","宋体";display:block;}
.ChinaNet-Free-Body .Index-Top-Statis ul li .Index-Statis-Chart-Item .Statis-Data-District ul.Statis-Data-Row li .Index-Data-Number66 {color:#666666;font:bold 36px/48px "Microsoft YaHei","ARIAL","宋体";display:block;float: left;height: 66px;line-height: 66px;}
.ChinaNet-Free-Body .Index-Top-Statis ul li .Index-Statis-Chart-Item .Statis-Data-District ul.Statis-Data-Row li .Index-Data-Number-OrangeA {color:#ec7b53;font:bold 36px/48px "Microsoft YaHei","ARIAL","宋体";display:block;}
.ChinaNet-Free-Body .Index-Top-Statis ul li .Index-Statis-Chart-Item .Statis-Data-District ul.Statis-Data-Row li .Index-Data-Number-OrangeB {color:#ec7b53;font:bold 36px/48px "Microsoft YaHei","ARIAL","宋体";display:block;float: left;height: 66px;line-height: 66px;}
.ChinaNet-Free-Body .Index-Top-Statis ul li .Index-Statis-Chart-Item .Statis-Data-District .Statis-Data-Topen {padding-left:10px;margin-left:190px;}
.ChinaNet-Free-Body .Index-Top-Statis ul li .Index-Statis-Chart-Item .Statis-Data-District .Statis-Data-Topen a {font:12px/20px "Microsoft YaHei","ARIAL","宋体";color:#ccc;}
.ChinaNet-Free-Body .Index-Top-Statis ul li .Index-Statis-Chart-Item .Statis-Data-District .Statis-Data-Topen a:hover {color:#666;}


.ChinaNet-Free-Body .Index-TP-Infos {margin-top:45px;margin-bottom:45px;}
.ChinaNet-Free-Body .Index-TP-Infos ul li {
    height: 48px;
    line-height: 48px;
    border-bottom: 1px dashed #efefef;
    position: relative;
    padding-left: 60px;
    padding-right: 10em;
    background-position: 20px center;
    background-repeat: no-repeat;
    color: #c7c6c6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
    -moz-text-overflow: ellipsis;
}
.ChinaNet-Free-Body .Index-TP-Infos ul li.Info-User-Icon{background-image: url(/statics/img/icon-user-25.png);}
.ChinaNet-Free-Body .Index-TP-Infos ul li.Info-Msg-Icon{background-image: url(/statics/img/icon-msg-25.png);}
.ChinaNet-Free-Body .Index-TP-Infos ul li.Info-List-Icon{background-image: url(/statics/img/icon-list-25.png);}
.ChinaNet-Free-Body .Index-TP-Infos ul li .Index-TP-Info-Title{
    color: #666666;
}
.ChinaNet-Free-Body .Index-TP-Infos ul li .Index-TP-Info-Intro{
    color: #c7c6c6;
    margin-left: 30px;
}
.ChinaNet-Free-Body .Index-TP-Infos ul li .Index-TP-Info-Time{
    position: absolute;
    right: 12px;
    top: 0px;
    height: 48px;
    line-height: 48px;
    color:#a7a7a7;
}


.ChinaNet-Free-Body .Index-Flow-Statis {height:540px;overflow:hidden;width:100%;margin-top:10px;zoom:1;}
.ChinaNet-Free-Body .Index-Flow-Statis .Flow-Statis-Chart {height:540px;width:100%;overflow:hidden;}


.ChinaNet-Free-Body .Index-Statis-Sheet {height:360px;margin-top:10px;overflow:hidden;}
.ChinaNet-Free-Body .Index-Statis-Sheet ul {margin:0px;padding:0px;list-style-type:none;height:360px;overflow:hidden;}
.ChinaNet-Free-Body .Index-Statis-Sheet ul li {float:left;height:360px;width:33.33334%;overflow:hidden;}
.ChinaNet-Free-Body .Index-Statis-Sheet ul li .Statis-Sheet-Item {height:360px;margin-right:10px;overflow:hidden;}
.ChinaNet-Free-Body .Index-Statis-Sheet ul li .Statis-Sheet-Item table {width:100%;border:0px;}

.loading-message {margin: 0px auto; background: url('/statics/img/loading-spinner-grey.gif') no-repeat 5px 8px; padding: 10px; text-align: center; color: rgb(0, 0, 0) !important; font-size: 13px; font-weight: 400; vertical-align: middle; display: inline-block; min-width: 125px;}
.loading-message span {line-height: 20px; vertical-align: middle;}
.loading-message-boxed.loading-message {border: 1px solid rgb(221, 221, 221); box-shadow: 0px 1px 8px rgba(0,0,0,0.1); background-color: rgb(238, 238, 238); -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);}

.TP-Info-Body{
    padding: 0 60px;
}
.TP-Info-Body table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.TP-Info-Body table td{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 26px;
    word-wrap: break-word;
}
.TP-Info-Body table td.TP-Info-Title{
    font-size: 16px;
    text-align: right;
    width: 7em;
    padding-right: 1em;
}
.TP-Info-Body table td div{
    width: 25px;
    height: 25px;
}
.TP-Info-Body table td .Info-User-Icon{background-image: url(/statics/img/icon-user-25.png);}
.TP-Info-Body table td .Info-Msg-Icon{background-image: url(/statics/img/icon-msg-25.png);}
.TP-Info-Body table td .Info-List-Icon{background-image: url(/statics/img/icon-list-25.png);}