<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Template #2</title>
<link type="text/css" rel="stylesheet" href="css/template.css" media="screen">
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript" src="../../auth_module/js/authorize.js"></script>
<script type="text/javascript" src="js/smallslider.js"></script>
<script type="text/javascript">$(document).ready(function(){MyTemplate.init();})</script>
</head>
<body>
    <div class="portalTemplateBody">
        <div class="siteModules" id="siteLoadingModuleBox">
            <div class="loadingTimeTip"></div>
            <div class="loadingTimeTip" id="loadingTimeText"></div>
            <img src="./img/demo/015.jpg">
        </div>
    
        <div class="siteModules" id="siteSliderModuleBox" title="广告轮播">
            <a href="javascript:;" class="sliderBrowse" id="sliderToPrev">&nbsp;</a>
            <a href="javascript:;" class="sliderBrowse" id="sliderToNext">&nbsp;</a>
            <div class="sliderNavigator"></div>
            <div class="sliderNavigator" id="sliderNaviList"></div>
            <div id="Slider001" class="sliderItem components"><img src="./img/demo/001.jpg"></div>
            <div id="Slider002" class="sliderItem components"><img src="./img/demo/002.jpg"></div>
            <div id="Slider003" class="sliderItem components"><img src="./img/demo/003.jpg"></div>
            <div id="Slider004" class="sliderItem components"><img src="./img/demo/004.jpg"></div>
            <div id="Slider005" class="sliderItem components"><img src="./img/demo/005.jpg"></div>
            <div id="Slider006" class="sliderItem components"><img src="./img/demo/006.jpg"></div>
        </div>
        
        <div class="siteModules auth_html_code" id="siteLoginModuleBox" platSvrAddr="" title="用户验证">
            <div class="loginAPI-Line">欢迎使用接入系统平台</div>
            <div class="loginAPI-Form">
                <table align="center">
                    <tr>
                        <td><input type="text" placeholder="输入手机号码..." id="MobileNumber" name="MobileNumber"></td>
                        <td width="20">&nbsp;</td>
                        <td><button type="button" class="AuthMobileSMS">获取验证码</button></td>
                    </tr>
                    <tr>
                        <td><input type="text" placeholder="验证码..." id="SMSCodeNumber" name="SMSCodeNumber"></td>
                        <td width="20">&nbsp;</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3"><button type="button" class="AuthSubmitID">马上登录</button></td>
                    </tr>
                </table>
            </div>
        </div>
        
        <div class="siteModules" id="siteImageTextModuleBox" title="图片信息">
            <ul>
                <li id="ImageText001" class="components">
	                <div>
	                   <a href="javascript:;" class="url"><img alt="" src="./img/demo/012.jpg" class="thumb"></a>
                       <a href="javascript:;" class="url"><dd class="title">抗美援朝志愿军用步枪击落飞机</dd></a>
                       <span class="description">详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
                <li id="ImageText002" class="components">
                    <div>
                       <a href="javascript:;" class="url"><img alt="" src="./img/demo/012.jpg" class="thumb"></a>
                       <a href="javascript:;" class="url"><dd class="title">抗美援朝志愿军用步枪击落飞机</dd></a>
                       <span class="description">详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
                <li id="ImageText003" class="components">
                    <div>
                       <a href="javascript:;" class="url"><img alt="" src="./img/demo/012.jpg" class="thumb"></a>
                       <a href="javascript:;" class="url"><dd class="title">抗美援朝志愿军用步枪击落飞机</dd></a>
                       <span class="description">详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
                <li id="ImageText004" class="components">
                    <div>
                       <a href="javascript:;" class="url"><img alt="" src="./img/demo/012.jpg" class="thumb"></a>
                       <a href="javascript:;" class="url"><dd class="title">抗美援朝志愿军用步枪击落飞机</dd></a>
                       <span class="description">详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
                <li id="ImageText005" class="components">
                    <div>
                       <a href="javascript:;" class="url"><img alt="" src="./img/demo/012.jpg" class="thumb"></a>
                       <a href="javascript:;" class="url"><dd class="title">抗美援朝志愿军用步枪击落飞机</dd></a>
                       <span class="description">详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
                <li id="ImageText006" class="components">
                    <div>
                       <a href="javascript:;" class="url"><img alt="" src="./img/demo/012.jpg" class="thumb"></a>
                       <a href="javascript:;" class="url"><dd class="title">抗美援朝志愿军用步枪击落飞机</dd></a>
                       <span class="description">详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
                <li id="ImageText007" class="components">
                    <div>
                       <a href="javascript:;" class="url"><img alt="" src="./img/demo/012.jpg" class="thumb"></a>
                       <a href="javascript:;" class="url"><dd class="title">抗美援朝志愿军用步枪击落飞机</dd></a>
                       <span class="description">详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
                <li id="ImageText008" class="components">
                    <div>
                       <a href="javascript:;" class="url"><img alt="" src="./img/demo/012.jpg" class="thumb"></a>
                       <a href="javascript:;" class="url"><dd class="title">抗美援朝志愿军用步枪击落飞机</dd></a>
                       <span class="description">详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>