<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Template #2</title>
<link type="text/css" rel="stylesheet" href="css/template.css" media="screen">
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript">$(document).ready(function(){MyTemplate.init();$(window).resize(function(){MyTemplate.init();})})</script>
</head>
<body>
    <div class="portalTemplateBody">
        <div class="siteModules" id="siteHeaderModuleBox">
            <a href="javascript:;" class="siteNavi"><span class="textFirst">一鸣奶吧</span></a>
            <a href="javascript:;" class="siteNavi"><span class="iconNext">&nbsp;</span><span class="textNext">产品列表</span></a><span class="naviEnd">&nbsp;</span>
            <a href="javascript:;" class="siteMenu">&nbsp;</a>
            <div class=userActiveMenu>
                <a href="javascript:;" class="MenuIcon">&nbsp;</a>
                <div class="userActive">
                    <a href="">个人信息</a>
                    <a href="">修改密码</a>
                    <a href="">退出</a>
                </div>
            </div>
        </div>
        
        
        <div class="siteModules" id="siteProductListModuleBox" title="产品列表">
            <ul>
                <li>
                    <div>
                       <a href="javascript:;"><img alt="" src="./img/demo/010.jpg"></a>
                       <em><a href="javascript:;">抗美援朝志愿军用步枪击落飞机</a></em>
                       <span>详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
                <li>
                    <div>
                       <a href="javascript:;"><img alt="" src="./img/demo/013.jpg"></a>
                       <em><a href="javascript:;">抗美援朝志愿军用步枪击落飞机</a></em>
                       <span>详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
                <li>
                    <div>
                       <a href="javascript:;"><img alt="" src="./img/demo/009.jpg"></a>
                       <em><a href="javascript:;">抗美援朝志愿军用步枪击落飞机</a></em>
                       <span>详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
                <li>
                    <div>
                       <a href="javascript:;"><img alt="" src="./img/demo/002.jpg"></a>
                       <em><a href="javascript:;">抗美援朝志愿军用步枪击落飞机</a></em>
                       <span>详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
                <li>
                    <div>
                       <a href="javascript:;"><img alt="" src="./img/demo/011.jpg"></a>
                       <em><a href="javascript:;">抗美援朝志愿军用步枪击落飞机</a></em>
                       <span>详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
                <li>
                    <div>
                       <a href="javascript:;"><img alt="" src="./img/demo/020.jpg"></a>
                       <em><a href="javascript:;">抗美援朝志愿军用步枪击落飞机</a></em>
                       <span>详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
                <li>
                    <div>
                       <a href="javascript:;"><img alt="" src="./img/demo/008.jpg"></a>
                       <em><a href="javascript:;">抗美援朝志愿军用步枪击落飞机</a></em>
                       <span>详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
                <li>
                    <div>
                       <a href="javascript:;"><img alt="" src="./img/demo/012.jpg"></a>
                       <em><a href="javascript:;">抗美援朝志愿军用步枪击落飞机</a></em>
                       <span>详细介绍了中国人民志愿军在朝鲜战争中的传奇故事，其中就包括志愿军战士用步枪击落美军战机的故事</span>
                    </div>
                </li>
            </ul>
        </div>
        
        <div class="siteModules" id="siteImageSpanModule">
            <ul>
                <li>
                    <div class="imageSpanBox"><a href="javascript:;"><img src="./img/demo/018.jpg"></a></div>
                    <div class="imageSpanTitle">&nbps;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;">抗美援朝志愿军用步枪击落飞机</a></div>
                </li>
                <li>
                    <div class="imageSpanBox"><a href="javascript:;"><img src="./img/demo/018.jpg"></a></div>
                    <div class="imageSpanTitle">&nbps;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;">抗美援朝志愿军用步枪击落飞机</a></div>
                </li>
                <li>
                    <div class="imageSpanBox"><a href="javascript:;"><img src="./img/demo/018.jpg"></a></div>
                    <div class="imageSpanTitle">&nbps;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;">抗美援朝志愿军用步枪击落飞机</a></div>
                </li>
                <li>
                    <div class="imageSpanBox"><a href="javascript:;"><img src="./img/demo/018.jpg"></a></div>
                    <div class="imageSpanTitle">&nbps;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;">抗美援朝志愿军用步枪击落飞机</a></div>
                </li>
                <li>
                    <div class="imageSpanBox"><a href="javascript:;"><img src="./img/demo/018.jpg"></a></div>
                    <div class="imageSpanTitle">&nbps;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;">抗美援朝志愿军用步枪击落飞机</a></div>
                </li>
                <li>
                    <div class="imageSpanBox"><a href="javascript:;"><img src="./img/demo/018.jpg"></a></div>
                    <div class="imageSpanTitle">&nbps;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;">抗美援朝志愿军用步枪击落飞机</a></div>
                </li>
                <li>
                    <div class="imageSpanBox"><a href="javascript:;"><img src="./img/demo/018.jpg"></a></div>
                    <div class="imageSpanTitle">&nbps;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;">抗美援朝志愿军用步枪击落飞机</a></div>
                </li>
                <li>
                    <div class="imageSpanBox"><a href="javascript:;"><img src="./img/demo/018.jpg"></a></div>
                    <div class="imageSpanTitle">&nbps;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;">抗美援朝志愿军用步枪击落飞机</a></div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>