@charset "UTF-8";
/**
 *
 *
 *
 *
 *
 *
**/

.ChinaNet-Free-Body .Statis-Body {width: 100%;margin-top: 20px;height: 460px;}
.ChinaNet-Free-Body .Statis-Body .Statis-Body-Guest {width: 100%;height: 460px;}

.ChinaNet-Free-Body .Statistic-List {margin-top: 20px;height: 340px;}
.ChinaNet-Free-Body .Statistic-List ul {list-style-type: none;overflow: hidden;height:340px;}
.ChinaNet-Free-Body .Statistic-List ul li {float: left;overflow: hidden;height: 340px;}
.ChinaNet-Free-Body .Statistic-List ul li.Statistic-Photo {width: 25%;}
.ChinaNet-Free-Body .Statistic-List ul li.Statistic-Body {width: 75%;}
.ChinaNet-Free-Body .Statistic-List ul li .Statistic-Data-Body {height: 340px;overflow: hidden;display: block;width: 100%;}
.ChinaNet-Free-Body .Statistic-List ul li .Statistic-Data-Body .Statistic-Data-Body-Title{font:bold 14px/40px "Microsoft YaHei","ARIAL","宋体"; color:#17bd9b;padding: 0 10px 0 10px;height: 40px;float:left;display:inline-block;cursor: pointer;_cursor:hand;white-space: nowrap;}
.ChinaNet-Free-Body .Statistic-List ul li .Statistic-Data-Body .StatisticImage {width: 100%; height: 300px;  float: left;}
.ChinaNet-Free-Body .Statistic-List ul li .Statistic-Data-Body .StatisticList-Data {width: 100%; height: 300px;  float: left;}

.ChinaNet-Free-Table {width:100%;overflow:hidden;}
.ChinaNet-Free-Table table .Statis-Wifi-Table-Title { width: 100%}
.ChinaNet-Free-Table table .Statis-Wifi-Table-Title th {height:32px;background:#efefef;color:#333333;padding-left:10px;}
.ChinaNet-Free-Table table .ChinaNet-Table-Body{width: 100%}
.ChinaNet-Free-Table table .ChinaNet-Table-Body td .Table-Data-Text-StatisWifi {color:#227b69;font:bold 12px/18px "Microsoft YaHei","ARIAL","宋体";display:block;}
.ChinaNet-Free-Table table .ChinaNet-Table-Body td .Table-Data-Text {color:#999;font:12px/18px "Microsoft YaHei","ARIAL","宋体";display:block;}
.ChinaNet-Free-Table table .ChinaNet-Table-Body td .Table-Data-Text-Blod {color:#606060;font:bold 12px/18px "Microsoft YaHei","ARIAL","宋体";display:block;}

.ChinaNet-Free-Table table .ChinaNet-Table-Body td .Table-Data-Name-Number {color:#666666;font:bold 12px/18px "Microsoft YaHei","ARIAL","宋体";display:block;}

.ChinaNet-Free-Body .Statis-User-Title {margin-top: 20px;height: 40px;}

.ChinaNet-Free-Body .Statis-User-Body {margin-top: 20px;height: 150px;}
.ChinaNet-Free-Body .Statis-User-Body ul {list-style-type: none;overflow: hidden;height:150px;}
.ChinaNet-Free-Body .Statis-User-Body ul li {float: left;overflow: hidden;height: 150px;}
.ChinaNet-Free-Body .Statis-User-Body ul li.Statistic-User-Photo {width: 25%;}
.ChinaNet-Free-Body .Statis-User-Body ul li.Statistic-User-Body {width: 75%;}
.ChinaNet-Free-Body .Statis-User-Body ul li .Statistic-User-Data-Body {height: 150px;overflow: hidden;display: block;width: 100%;}
.ChinaNet-Free-Body .Statis-User-Body ul li .Statistic-User-Data-Body .Statistic-User-Data-Body-Title{font:bold 14px/40px "Microsoft YaHei","ARIAL","宋体"; color:#17bd9b;padding: 0 10px 0 10px;height: 40px;float:left;display:inline-block;cursor: pointer;_cursor:hand;white-space: nowrap;}
.ChinaNet-Free-Body .Statis-User-Body ul li .Statistic-User-Data-Body .StatisticUserImage {width: 100%; height: 160px;  float: left;}
.ChinaNet-Free-Body .Statis-User-Body ul li .Statistic-User-Data-Body .StatisticList-Data {width: 100%; height: 300px;  float: left;}

.ChinaNet-Free-Body .Statis-User-Three-Body {margin-top: 20px;height: 300px;}
.ChinaNet-Free-Body .Statis-User-Three-Body ul {list-style-type: none;overflow: hidden;height:300px;}
.ChinaNet-Free-Body .Statis-User-Three-Body ul li {float: left;overflow: hidden;height: 300px;}
.ChinaNet-Free-Body .Statis-User-Three-Body ul li.Statis-User-Three-Body-One {width: 31.33334%; padding-left: 15px}
.ChinaNet-Free-Body .Statis-User-Three-Body ul li.Statis-User-Three-Body-One .Statis-Sheet-Item {height:360px;margin-right:10px;overflow:hidden;}

.ChinaNet-Free-Body .Index-Statis-Sheet {height:360px;margin-top:10px;overflow:hidden;}
.ChinaNet-Free-Body .Index-Statis-Sheet ul {margin:0px;padding:0px;list-style-type:none;height:360px;overflow:hidden;}
.ChinaNet-Free-Body .Index-Statis-Sheet ul li {float:left;height:360px;width:33.33334%;overflow:hidden;}
.ChinaNet-Free-Body .Index-Statis-Sheet ul li .Statis-Sheet-Item {height:360px;margin-right:10px;overflow:hidden;}
.ChinaNet-Free-Body .Index-Statis-Sheet ul li .Statis-Sheet-Item table {width:100%;border:0px;}

.ChinaNet-Free-Table table .Statis-User-Table-Title { width: 100%}
.ChinaNet-Free-Table table .Statis-User-Table-Title th {height:32px;color:#666666;padding-left:10px;}

.Form-Primary {margin-left: 10px;}

.ChinaNet-Form-Sheet .Form-Item-Title-Left {float:left;font:bold 14px/40px "Microsoft YaHei","ARIAL","宋体";color:#fe7e00;padding-left:5px;text-align:left;}
.ChinaNet-Form-Sheet .Form-Item-Title-Right {float:left;font:bold 13px/40px "Microsoft YaHei","ARIAL","宋体";color:#666;text-align:right;}
.ChinaNet-Form-Sheet .Form-Item-Title-Center {float:left;font:bold 13px/40px "Microsoft YaHei","ARIAL","宋体";color:#17bd9b;text-align:center;}
.ChinaNet-Form-Sheet .Form-Item-Title-List-Right {float:left;font:13px/40px "Microsoft YaHei","ARIAL","宋体";color:#666;text-align:right;}
.ChinaNet-Form-Sheet .Form-Item-Title-List-Left {float:left;font:13px/40px "Microsoft YaHei","ARIAL","宋体";color:#666; padding-left:5px; text-align:left;}
.ChinaNet-Form-Sheet .Form-Item-Background { background-color: #dddddd;}
.ChinaNet-Form-List {overflow: hidden; width:100%}
.ChinaNet-Form-List ul{list-style-type: none;overflow: hidden; width:100%}
.ChinaNet-Form-List ul li{float: left;overflow: hidden;width:100%}
.ChinaNet-Form-List ul li.ChinaNet-Form-List-One{ width: 50%}
.ChinaNet-Form-List ul li.ChinaNet-Form-List-One .Form-Item-Title-List-Right{float:left;font:12px/40px "Microsoft YaHei","ARIAL","宋体";color:#666; text-align:right;}
.ChinaNet-Form-List ul li.ChinaNet-Form-List-One .Form-Item-Title-List-Left{float:left;font:bold 12px/40px "Microsoft YaHei","ARIAL","宋体";color:#666; padding-left:10px; text-align:left;}

