<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no'>
<title class='siteValue' id='title'>iWiFi联盟</title>
<link type="text/css" rel="stylesheet" href="css/template.css" media="screen">
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript" src="../../auth_module/js/authorize.js"></script>
<script type="text/javascript" src="js/smallslider.js"></script>
<script type="text/javascript">$(document).ready(function(){MyTemplate.init();})</script>
<style type='text/css'>body {margin:0px;padding:0px;}</style>
</head>
<body>
    <div class="portalTemplateBody">     	      
        <div class="siteModules" id="siteLogoViewModuleBox" title="Logo信息">
			<div id="Logo001" class="ggtop bs-docs-nav contentImage siteComponent">
				<a href="javascript:;" id="url" class="siteSource"><img
					src="/resources/portal/template/cymyc/img/logo.png" id="thumb"
					class="siteResource"></a>
				<div class="onlinenum">
				<span>在线人数：</span>
				<span id="lb_onlines">1</span>
				</div>	
			</div>
		</div>		
        <div class="siteModules" id="siteSliderModuleBox" title="广告轮播">
            <a href="javascript:;" class="sliderBrowse" id="sliderToPrev">&nbsp;</a>
            <a href="javascript:;" class="sliderBrowse" id="sliderToNext">&nbsp;</a>
            <div class="sliderNavigator"></div>
            <div class="sliderNavigator" id="sliderNaviList"></div>
            <div id="Slider001" class="sliderItem siteComponent"><a href="javascript:;" id="url" class="siteSource"><img id="thumb"  src="/resources/portal/template/cymyc/img/sw1.jpg" class="siteResource"></a></div>
            <div id="Slider002" class="sliderItem siteComponent"><a href="javascript:;" id="url" class="siteSource"><img id="thumb"  src="/resources/portal/template/cymyc/img/sw2.jpg" class="siteResource"></a></div>
            <div id="Slider003" class="sliderItem siteComponent"><a href="javascript:;" id="url" class="siteSource"><img id="thumb"  src="/resources/portal/template/cymyc/img/sw3.jpg" class="siteResource"></a></div>
            <div id="Slider004" class="sliderItem siteComponent"><a href="javascript:;" id="url" class="siteSource"><img id="thumb"  src="/resources/portal/template/cymyc/img/sw4.jpg" class="siteResource"></a></div>
        </div>
        <div id="siteColumnModuleBox1" class="siteModules" title="栏目名称">
	        <div id="column101" class="contentTitle siteComponent">
	  			<span id="title" class="siteValue columntitle"> 产品推荐     </span>
	        </div>
        </div>
         
        <div class="siteModules" id="siteImageSpanModule"  title="产品推荐">
            <ul>
               <li id="ImageSpan001" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/cymyc/img/pro1.jpg" class="siteResource"></a></div>
                    <div class="imageSpanTitle">&nbsp;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;" id="url" class="siteSource"><span id="title" class="siteValue">日式咖喱牛肉</span></a></div>
                </li>
                <li id="ImageSpan002" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/cymyc/img/pro2.jpg" class="siteResource"></a></div>
                    <div class="imageSpanTitle">&nbsp;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;" id="url" class="siteSource"><span id="title" class="siteValue">红烧排骨面</span></a></div>
                </li>
                <li id="ImageSpan003" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/cymyc/img/pro3.jpg" class="siteResource"></a></div>
                    <div class="imageSpanTitle">&nbsp;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;" id="url" class="siteSource"><span id="title" class="siteValue">干菜炒饭</span></a></div>
                </li>
                <li id="ImageSpan004" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/cymyc/img/pro4.jpg" class="siteResource"></a></div>
                    <div class="imageSpanTitle">&nbsp;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;" id="url" class="siteSource"><span id="title" class="siteValue">酸辣汤</span></a></div>
                </li>
                <li id="ImageSpan005" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/cymyc/img/pro5.jpg" class="siteResource"></a></div>
                    <div class="imageSpanTitle">&nbsp;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;" id="url" class="siteSource"><span id="title" class="siteValue">酸辣牛杂面</span></a></div>
                </li>
                <li id="ImageSpan006" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/cymyc/img/pro6.jpg" class="siteResource"></a></div>
                    <div class="imageSpanTitle">&nbsp;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;" id="url" class="siteSource"><span id="title" class="siteValue">山药炖汤</span></a></div>
                </li>              
            </ul>
        </div>   
        <div id="siteColumnModuleBox2" class="siteModules" title="栏目名称">
	        <div id="column201" class="contentTitle siteComponent">
	  			<span id="title" class="siteValue columntitle"> 简介     </span>
	        </div>
        </div>
        <div id="siteArticleViewModuleBox" class="siteModules" title="文本内容">
        	<div id="textSpan003" class="articleText siteComponent">
        	<span id="description" class="siteValue">木杨城地理位置优越，交通便 利，小店装修独特，顾客在享受美味的同时，还可以体验西餐DIY的乐趣，体会心灵舒缓的感觉，体察欧式小镇的风情，体悟别具一格的文化。
        	</span>
        	</div>
        </div>

        <div id="siteFooterGGModuleBox" class="siteModules" title="广告文本">
			<div id="fgSpan001"  class="tnavbar-default footertext siteComponent">
				<span id="title" class="siteValue ">
					 加盟热线: 4008-899-899
				</span>
			</div>
		</div>		 
		<div id="siteLoginModuleBox" class="siteModules  auth_html_code"
			platSvrAddr="" title="用户验证">
			<div id="ggSpan001" class="loginAPI-Form ggbottom ">
				<div id="mytabs">
					<div id="hidediv" class="inimg2"></div>
					<div class="content">
						<div class="ct">
							<table align="center">
								<tr>
									<td><input type="text" placeholder="输入手机号码..."
										id="MobileNumber" name="MobileNumber"></td>
									<td width="20">&nbsp;</td>
									<td><button type="button" class="AuthMobileSMS">获取验证码</button></td>
								</tr>
								<tr>
									<td><input type="text" placeholder="验证码..."
										id="SMSCodeNumber" name="SMSCodeNumber"></td>
									<td width="20">&nbsp;</td>
									<td></td>
								</tr>
								<tr>
									<td colspan="3"><button type="button"
											class="AuthSubmitID ValidatorMobile">马上登录</button></td>
								</tr>
							</table>
						</div>
						<div class="ct" style="display: none">微信认证 暂未开通</div>
					</div>
					<div class="controls">
						<ul class="tab_title">
							<li class="one"><div class="inimg4"></div><small>短信认证</small></li>
							<!-- <li><div class="inimg5"></div><small>微信认证</small></li> -->
						</ul>
					</div>
				</div>
				<div class="bottombutton">
					<div class="inimg1"></div>
					<button type="button" class="AuthTypeID">点击上网</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>