<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no'>
<title class='siteValue' id='title'>iwifi</title>
<link type="text/css" rel="stylesheet" href="css/template.css" media="screen">
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript" src="../../auth_module/js/authorize.js"></script>
<script type="text/javascript" src="js/smallslider.js"></script>
<script type="text/javascript">$(document).ready(function(){MyTemplate.init();})</script>
<style type='text/css'>body {margin:0px;padding:0px;}</style>
</head>
<body>
<div class="portalTemplateBody"> 
	<div id="siteContentViewModuleBox" class="siteModules" title="图文内容">
		<div id="Image001" class="contentImage siteComponent"  style="text-align: center">
			<img id="thumb" class="siteResource" src="img/bgi.jpg">
		</div>
	</div>
	<div class="siteModules" id="siteImageSpanModule"  title="产品推荐">
            <ul>
                <li id="ImageSpan001" class="siteComponent">
                    <div class="imageSpanBox"><a href="http://www.smartzg.cn/iwifi/iwifi.apk" id="url" class="siteSource"><img id="thumb" src="img/and.jpg" class="siteResource"></a></div>
                    
                </li>
                <li id="ImageSpan002" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="img/ip.jpg" class="siteResource"></a></div>
                     
                </li>
            </ul>
        </div>   
</div>
</body>
</html>