<!DOCTYPE HTML>
<html>
<head>
<style>
#siteColumnModuleBox1.contentTitle {padding-left:20px;background: url(../img/chuan_21.jpg);height:35px;overflow:hidden;width:320px;}
#siteColumnModuleBox1.columntitle {font:bold 15px/35px "微软雅黑";color:#ffffff;}
#siteColumnModuleBox1.columndes {font:12px/42px "微软雅黑";color:#666c7a;padding-left:5px;}
#siteColumnModuleBox2.contentTitle {padding-left:20px;background: url(../img/chuan_21.jpg);height:35px;overflow:hidden;width:320px;}
#siteColumnModuleBox2.columntitle {font:bold 15px/35px "微软雅黑";color:#ffffff;}
#siteColumnModuleBox2.columndes {font:12px/42px "微软雅黑";color:#666c7a;padding-left:5px;}

</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no'>
<title class='siteValue' id='title'>信产无验证</title>
<link type="text/css" rel="stylesheet" href="css/template.css" media="screen">
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript" src="../../auth_module/js/authorize.js"></script>
<script type="text/javascript" src="js/smallslider.js"></script>
<script type="text/javascript">$(document).ready(function(){MyTemplate.init();})</script>
<script type="text/javascript" src="../../auth_module/js/devdata.js"></script>
<style type='text/css'>body {margin:0px;padding:0px;}</style>
</head>
<body>
	<div class="portalTemplateBody" >		
		<div class="siteModules" id="siteLogoViewModuleBox" title="Logo信息" >
			<div id="Logo001" class="ggtop siteComponent">
			<div class="clearfix">
			<div id="nav_box"  class="nav_box clearfix">
				<div class="logo img" >
					<img border="0" src="img/chuan_02.jpg" id="thumb" class="siteResource"  >
					<img border="0" style="border:0px;height:35px;" src="img/chuan_04.jpg" id="thumb" class="siteResource">
					<span id="title" class="siteValue name">川味观</span>
					<span id="title" class="siteValue fen">人气：580</span>
				</div>
				
			</div>
		</div>	
			</div>
		</div>
		
		<div class="siteModules siteSliderLb" id="siteSliderModuleBox" title="广告轮播" >
			<a href="javascript:;" class="sliderBrowse" id="sliderToPrev">&nbsp;</a>
			<a href="javascript:;" class="sliderBrowse" id="sliderToNext">&nbsp;</a>
			<div class="sliderNavigator"></div>
			<div class="sliderNavigator" id="sliderNaviList"></div>
			<div id="Slider001" class="sliderItem siteComponent">
				<a href="javascript:;" id="url" class="siteSource"><img
					id="thumb" src="img/ad01.jpg"
					class="siteResource"></a>
			</div>
			<div id="Slider002" class="sliderItem siteComponent">
				<a href="javascript:;" id="url" class="siteSource"><img
					id="thumb" src="img/ad02.jpg"
					class="siteResource" style="height:160px"></a>
			</div>
			<div id="Slider003" class="sliderItem siteComponent">
				<a href="javascript:;" id="url" class="siteSource"><img
					id="thumb" src="img/ad03.jpg"
					class="siteResource" style="height:160px"></a>
			</div>	
			<div id="Slider004" class="sliderItem siteComponent">
				<a href="javascript:;" id="url" class="siteSource"><img
					id="thumb" src="img/ad04.jpg"
					class="siteResource" style="height:160px"></a>
			</div>		
		</div>
		<div id="siteColumnModuleBox1"  class="siteModules siteColumnMdouleBoxcommon" title="栏目名称">
		<div class="siteComponent"></div>
			<div id="column101" class="contentTitle siteComponent">
				<span id="title" class="siteValue columntitle">111111111111111111111111111</span>
				<span id="description" class="siteValue columndes"></span>
			</div>
		</div>
		<div class="siteModules" id="siteTextBlockModuleBox" title="文本信息" style="background-color:#62171c">
        	 <ul>
                <li id="textSpan001" class="siteComponent" style="height:56px;width:290px">
                    <div>
						<a href="javascript:;" id="url" class="siteSource">团购开团1</a>
						 <em><span id="description" class="siteValue">仅售80元即可得到100元代金券一张</span></em> 
                    </div>
                </li>
                <li id="textSpan002" class="siteComponent">
                    <div>                        
                       <a href="javascript:;" id="url" class="siteSource">团购开团1</a>
						 <em><span id="description" class="siteValue">仅售80元即可得到100元代金券一张</span></em> 
                    </div>
                </li>
                <li id="textSpan003" class="siteComponent">
                    <div>                        
                      <a href="javascript:;" id="url" class="siteSource">团购开团1</a>
					 <em><span id="description" class="siteValue">仅售80元即可得到100元代金券一张</span></em> 
                    </div>
                </li>                
             </ul>
             <div id="imgmore" class="siteComponent"> <img id="thumb" src="img/chuan_24.jpg" class="siteResource"></div>
        </div>		
		<div id="siteColumnModuleBox2"  class="siteModules siteColumnMdouleBoxcommon" title="栏目名称">
		<div class="siteComponent"></div>
			<div id="column101" class="contentTitle siteComponent">
				<span id="title" class="siteValue columntitle">111111111111111111111</span>
				<span id="description" class="siteValue columndes"></span>
			</div>
		</div>
        <div class="siteModules" id="siteImageSpanModule"  title="产品推荐">
            <ul>
                <li id="ImageSpan001" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="img/h01.jpg" class="siteResource"></a></div>
                    <div class="imageSpanTitle">&nbsp;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;" id="url" class="siteSource"><span id="title" class="siteValue">璀璨·戒指</span></a></div>
                </li>
                <li id="ImageSpan002" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="img/h02.jpg" class="siteResource"></a></div>
                    <div class="imageSpanTitle">&nbsp;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;" id="url" class="siteSource"><span id="title" class="siteValue">璀璨·戒指</span></a></div>
                </li>
                <li id="ImageSpan003" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="img/h03.jpg" class="siteResource"></a></div>
                    <div class="imageSpanTitle">&nbsp;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;" id="url" class="siteSource"><span id="title" class="siteValue">璀璨·戒指</span></a></div>
                </li>
                <li id="ImageSpan004" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="img/h04.jpg" class="siteResource"></a></div>
                    <div class="imageSpanTitle">&nbsp;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;" id="url" class="siteSource"><span id="title" class="siteValue">璀璨·戒指</span></a></div>
                </li>
                <li id="ImageSpan005" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="img/h05.jpg" class="siteResource"></a></div>
                    <div class="imageSpanTitle">&nbsp;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;" id="url" class="siteSource"><span id="title" class="siteValue">璀璨·戒指</span></a></div>
                </li>
                <li id="ImageSpan006" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="img/h06.jpg" class="siteResource"></a></div>
                    <div class="imageSpanTitle">&nbsp;</div>
                    <div class="imageSpanTitle imageSpanTitleText"><a href="javascript:;" id="url" class="siteSource"><span id="title" class="siteValue">璀璨·戒指</span></a></div>
                </li>
            </ul>
        </div>    
        <div id="siteColumnModuleBox3" class="siteModules" title="栏目名称">
	        <div id="column301" class="contentTitle siteComponent">
	  			<span id="title" class="siteValue columntitle"> 商家介绍  </span>
	  			<span id="description" class="siteValue columndes"></span>
	        </div>
        </div>
        <div id="siteArticleViewModuleBox" class="siteModules" title="文本内容">
        	<div id="textSpan003" class="articleText siteComponent">
        	<span id="description" class="siteValue">每一件璀璨珠宝的诞生都源于一个生活的梦想，对爱情、家庭、事业、人生的梦想，璀璨珠宝将这种生活的憧憬为千万女性传递下去。璀璨珠宝“不仅设计时尚珠宝，更设计生活梦想”的设计理念是品牌精神的延续。 璀璨珠宝设计团队，始终以女性为主体，从一个生活的灵感，到一份设计图稿，设计师们是在为不同的女性绘画梦想。
        	</span>
        	</div>
        </div>   
        <div id="siteFooterGGModuleBox" class="siteModules" title="广告文本">
			<div id="fgSpan001"  class="tnavbar-default footertext siteComponent">
				<span id="title" class="siteValue ">
					 加盟热线: 4008-899-899
				</span>
			</div>
		</div>		 
		<div id="siteLoginModuleBox" class="siteModules  auth_html_code"
			platSvrAddr="" title="用户验证">
			<div id="ggSpan001" class="loginAPI-Form ggbottom ">
				<div id="mytabs">
					<div id="hidediv" class="inimg2"></div>
					<div class="content">
						<div class="ct">
							<table align="center">
								<tr>
									<td><input type="text" placeholder="输入手机号码..."
										id="MobileNumber" name="MobileNumber"></td>
									<td width="20">&nbsp;</td>
									<td><button type="button" class="AuthMobileSMS">获取验证码</button></td>
								</tr>
								<tr>
									<td><input type="text" placeholder="验证码..."
										id="SMSCodeNumber" name="SMSCodeNumber"></td>
									<td width="20">&nbsp;</td>
									<td></td>
								</tr>
								<tr>
									<td colspan="3"><button type="button"
											class="AuthSubmitID ValidatorMobile">马上登录</button></td>
								</tr>
							</table>
						</div>
						<div class="ct" style="display: none">微信认证 暂未开通</div>
					</div>
					<div class="controls">
						<ul class="tab_title">
							<li class="one"><div class="inimg4"></div><small>短信认证</small></li>
							<!-- <li><div class="inimg5"></div><small>微信认证</small></li> -->
						</ul>
					</div>
				</div>
				<div class="bottombutton">
					<div class="inimg1"></div>
					<button type="button" class="AuthTypeID">点击上网</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>