<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no'>
<title class='siteValue' id='title'>信产无验证</title>
<link type="text/css" rel="stylesheet" href="css/template.css" media="screen">
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript" src="../../auth_module/js/authorize.js"></script>
<script type="text/javascript" src="js/smallslider.js"></script>
<script type="text/javascript">$(document).ready(function(){MyTemplate.init();})</script>
<style type='text/css'>body {margin:0px;padding:0px;}</style>
</head>
<body>
	<div class="portalTemplateBody">		
		<div class="siteModules" id="siteLogoViewModuleBox" title="Logo信息">
			<div id="Logo001" class="ggtop bs-docs-nav contentImage siteComponent">
				<a href="javascript:;" id="url" class="siteSource"><img
					src="/resources/portal/template/xcgs/img/logo_01.png" id="thumb"
					class="siteResource"></a>
			</div>
		</div>		
		<div class="siteModules" id="siteSliderModuleBox" title="广告轮播">
			<a href="javascript:;" class="sliderBrowse" id="sliderToPrev">&nbsp;</a>
			<a href="javascript:;" class="sliderBrowse" id="sliderToNext">&nbsp;</a>
			<div class="sliderNavigator"></div>
			<div class="sliderNavigator" id="sliderNaviList"></div>
			<div id="Slider001" class="sliderItem siteComponent">
				<a href="javascript:;" id="url" class="siteSource"><img
					id="thumb" src="/resources/portal/template/xcgs/img/lun_01.jpg"
					class="siteResource"></a>
			</div>
			<div id="Slider002" class="sliderItem siteComponent">
				<a href="javascript:;" id="url" class="siteSource"><img
					id="thumb" src="/resources/portal/template/xcgs/img/lun_02.jpg"
					class="siteResource"></a>
			</div>
			<div id="Slider003" class="sliderItem siteComponent">
				<a href="javascript:;" id="url" class="siteSource"><img
					id="thumb" src="/resources/portal/template/xcgs/img/lun_03.jpg"
					class="siteResource"></a>
			</div>			
		</div>
		<div id="siteColumnModuleBox1" class="siteModules divTitle" title="栏目名称">				 
			<div id="column101" class="contentTitle siteComponent">
				<span id="title" class="siteValue">关于接入系统平台3.0 </span>
			</div>
		</div>
		<div class="siteModules" id="siteImageTextModuleBox" title="图文信息">
			<ul>				
				<li id="textSpan001" class="siteComponent">
					<div>
						<img id="thumb" alt="" src="/resources/portal/template/xcgs/img/biao_03.png" class="siteResource">
						<span id="description" class="siteValue">接入系统平台为加盟商户提供一体化移动营销解决方案。客户进入商家免费使用极速稳定wifi上网服务；通过移动互联网营销模式为商家留住更多客户，获取更多利益。
						</span>
					</div>
				</li>			
			</ul>
		</div>
		<div id="sitedevModuleBox" title="设备信息">
			<ul>				
				<li id="textSpan002">
					<div>
						<div class="devimg">						 
						 <span>
						 目前已有</span><span class="badge badge-info" id="lb_onlines">0</span><span>人与您同时在线,</span><br/>
						 <span>这是您第</span><span class="badge badge-info" id="lb_linknum">0</span><span>次登录,</span><br/>
						 <span>网络状况</span><span id="baoman" class="baomancss"></span><span>爆满</span><span id="zhengchang" class="zhengchangcss"></span><span>正常</span><span id="kongxian" class="kongxiancss"></span><span>空闲</span>					 
						</div>					
					</div>
				</li>				
			</ul>
		</div>		
		<div id="siteColumnModuleBox2" class="siteModules divTitle" title="栏目名称">
	        <div id="column201" class="contentTitle siteComponent">
	  			<span id="title" class="siteValue"> 值得推荐  </span>
	        </div>
        </div>         
        <div class="siteModules" id="siteImageTJModule"  title="产品推荐">
            <ul>
                <li id="ImageSpan001" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/xcgs/img/kuang_01.jpg" class="siteResource"></a></div>
                    
                </li>
                <li id="ImageSpan002" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/xcgs/img/kuang_02.jpg" class="siteResource"></a></div>
                    
                </li>
                <li id="ImageSpan003" class="siteComponent">
                    <div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/resources/portal/template/xcgs/img/kuang_03.jpg" class="siteResource"></a></div>                    
                </li>             
            </ul>
        </div>   
        <div id="siteColumnModuleBox3" class="siteModules divTitle" title="栏目名称">
	        <div id="column301" class="contentTitle siteComponent">
	  			<span id="title" class="siteValue"> 我们的优势  </span>
	        </div>
        </div>
        <div class="siteModules" id="siteTextBlockModuleBox" title="文本信息">
            <ul>
                <li id="textBlockSpan001" class="siteComponent">
	                <div class="div1">
	                    <span id="title" class="siteValue titletext">私人定制</span>
	                    <span id="description" class="siteValue">
	                    	多套主题模板<br/>总有属于你的私人定制
	                    </span>
	                </div>
                </li>
                <li id="textBlockSpan002" class="siteComponent">
	                <div  class="div2">
	                    <span id="title" class="siteValue titletext">精确营销</span>
	                    <span id="description" class="siteValue">精准数据分析<br/>提供针对性营销服务</span>
	                </div>
                </li>
                <li id="textBlockSpan003" class="siteComponent">
	                <div  class="div3">
	                    <span id="title" class="siteValue titletext">稳如泰山</span>
	                    <span id="description" class="siteValue">信号超稳定<br/>不掉线不坑爹</span>
	                </div>
                </li>
                <li id="textBlockSpan004" class="siteComponent">
	                <div  class="div4">
	                    <span id="title" class="siteValue titletext">周到服务</span>
	                    <span id="description" class="siteValue">实施快捷，管理方便<br/>安全保修，微笑服务</span>
	                </div>
                </li>               
            </ul>       
        </div>       
        <div id="siteColumnModuleBox4" class="siteModules divTitle" title="栏目名称">
	        <div id="column401" class="contentTitle siteComponent">
	  			<span id="title" class="siteValue"> 关于我们   </span>
	        </div>
        </div>       
        <div id="siteArticleViewModuleBox" class="siteModules" title="文本内容">
        	<div id="textSpan003" class="articleText siteComponent">
        	<span id="description" class="siteValue">浙江省公众信息产业有限公司是一家专注于移动互联网领域，致力于先进移动互联网技术的本地化应用，协助于企业基于在无线网络应用上的门户营销为核心的倡导者。全新开发的云傲系列智能路由器，改变了国内路由器应用单一，功能简单的现状，可以为企业提供综合的、符合企业自身管理需求的各项功能，从而提升企业在互联网应用的效率和管理水平。2013年推出无线微门户产品，可以为餐厅，酒店，展会，大厦，体闲娱乐等大中型消费场所提供无线网络解决方案及营销推广服务。
        	</span>
        	</div>
        </div>
		<div id="siteLoginModuleBox" class="siteModules  auth_html_code"
			platSvrAddr="" title="用户验证">
			<div id="ggSpan001" class="loginAPI-Form ggbottom ">
				<div id="mytabs">
					<div id="hidediv" class="inimg2"></div>
					<div class="content">
						<div class="ct">
							<button type="button" class="AuthSubmitID ValidatorOption">免费上网</button>
						</div>
						<div class="ct" style="display: none">
							<table align="center">							
								<tr>
									<td><input type="text" placeholder="输入手机号码..."
										id="MobileNumber" name="MobileNumber"></td>
									<td width="20">&nbsp;</td>
									<td><button type="button" class="AuthMobileSMS">获取验证码</button></td>
								</tr>
								<tr>
									<td><input type="text" placeholder="验证码..."
										id="SMSCodeNumber" name="SMSCodeNumber"></td>
									<td width="20">&nbsp;</td>
									<td></td>
								</tr>
								<tr>
									<td colspan="3"><button type="button"
											class="AuthSubmitID ValidatorMobile">马上登录</button></td>
								</tr>
							</table>
						</div>
						<div class="ct" style="display: none"></div>
					</div>
					<div class="controls">
						<ul class="tab_title">
							<li class="one"><div class="inimg3"></div><small>免认证</small></li>
							<li><div class="inimg4"></div><small>短信认证</small></li>
						</ul>
					</div>
				</div>
				<div class="bottombutton">
					<div class="inimg1"></div>
					<button type="button" class="AuthTypeID">点击上网</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>